10\\   _____     _______ ____     _      _            //
11||  / _ \ \   / / ____|  _ \ __| |_ __(_)_   _____  ||
10|| | | | \ \ / /|  _| | |_) / _` | '__| \ \ / / _ \ ||
11|| | |_| |\ V / | |___|  _ < (_| | |  | |\ V /  __/ ||
10||  \___/  \_/  |_____|_| \_\__,_|_|  |_| \_/ \___| ||
11//                                   Pave the way.  \\

+- Network Information

     Round Robin: irc.overdrivenetworks.com
         Website: https://ircnet.overdrivenetworks.com/
  Current Server: %(servername)s
        Location: %(location)s
           Ports: 6667-6669, 9998 (plain) / +6697-6699, +9999 (SSL)

+- Channels of Interest

      General Chat: #chat
Code & Development: #dev

+- Other Information

 * For a list of available staff, type /stats P in your IRC client.

 * Please note that the use of this IRC network is a privilege and not a right.
   OVERdrive-IRC staff reserves the right to remove users from this network at
   any time for any reason.

 * You can find our network AUP at https://ircnet.overdrivenetworks.com/aup.

